

.boxcontent .passwdrestrict {
	color: #555;
	font-weight: bold;
	white-space: nowrap;
	cursor: default;
}
.boxcontent p.passwdrestrict {
	/*color: #555;
	font-weight: bold;*/
	padding: 6px 30px 6px 25px;
	/*white-space: nowrap;*/
	background: url(images/messages.png) 0 5px no-repeat;
	/*cursor: default;*/
} 
.boxcontent ul.passwdrestrict {
	/*color: #555;
	font-weight: bold;*/
	padding: 0 30px 10px 40px;
	margin-top: -15px;
	/*white-space: nowrap;
	cursor: default;*/
}

.boxcontent .passwdhint {
	color: #555;
	font-style: italic;
	white-space: nowrap;
	cursor: default;
	padding: 6px 30px 10px 25px;
	margin-top: -15px;
} 

.boxcontent .passwdsaved {
  border: 1px solid;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 20px;
  margin-left: 25%;
  color: #009933;
  background: url("images/messages.png") no-repeat scroll 0 -25px transparent;
  cursor: default;
  display: inline-block;
  font-weight: bold;
  padding: 6px 15px 6px 25px;
  white-space: nowrap;
} 
